<!DOCTYPE html>
<html>
  <head>
    <title>Daily Stella</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="..\..\DailyStella\static\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="layout">
      <h1>Daily Stella</h1>
      <img src="\static\images\{{ pic_number }}.jpg" alt="Foto van Stella, een Franse bulldog">
      <p>A Stella a day, keeps the doctor away!</p>
    </div>
  </body>
</html>
